

<html class="landing_pg">
    <head>
        <style>
            .landing_pg { 
                background-color:#000;
                color:#fff;
                font-size: large;

            }
            .landing_pg a {
                color: aquamarine;
            }
            .m-5 { 
                margin: 5% 0px
            }
           
        </style>
    </head>
    <body>
       <span class> <%= message %> </span>

       <div class="m-5" > Visit  <a href="/admin">/admin </a> and log in with the password "resinadmin"</div>
    </body>
</html>



